<button class="close" mat-icon-button mat-dialog-close>
    <mat-icon>close</mat-icon>
</button>
<h1 mat-dialog-title class="text-center mb-0">Update Stock Price</h1>
<div mat-dialog-content>
    <mat-card class="mat-elevation-z my-2">
        <!-- <mat-card-content class="mb-4">
            <mat-card-title>{{user.userName}}</mat-card-title>
            <mat-card-subtitle>{{user.firstName | titlecase}} {{user.lastName | titlecase}}</mat-card-subtitle>
        </mat-card-content>
        <mat-card-content>
            <div class="row flex-nowrap w-100 mx-auto">
                <div class="col-6 px-0">
                    <p>
                        <mat-icon *ngIf="user.gender === 'Male'" class="fas fa-mars"></mat-icon>
                        <mat-icon *ngIf="user.gender === 'Female'" class="fas fa-venus"></mat-icon>
                        <mat-icon *ngIf="user.gender === 'Others'" class="fas fa-transgender"></mat-icon>{{user.gender}}
                    </p>
                </div>
                <div class="col-6 px-0">
                    <p>
                        <mat-icon class="fas fa-birthday-cake"></mat-icon>{{user.dateOfBirth}}
                    </p>
                </div>
            </div>
            <div class="row w-100 mx-auto">
                <p>
                    <mat-icon class="fas fa-envelope"></mat-icon>{{user.emailAddress}}
                </p>
            </div>
            <div class="row w-100 mx-auto">
                <p>
                    <mat-icon class="fas fa-mobile-alt"></mat-icon>{{user.mobileNumber}}
                </p>
            </div>
        </mat-card-content> -->
    </mat-card>
</div>