<div class="row mx-3 my-5 text-center home-row">
    <div class="col-6 px-0">
        <mat-card>
            <mat-card-title>Register</mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
            <mat-card-actions>
                <a mat-button href="javascript:void(0)" (click)="onClick('register')">Register a new company</a>
            </mat-card-actions>
        </mat-card>
    </div>

    <div class="col-6 px-0">
        <mat-card>
            <mat-card-title>View all companies</mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
            <mat-card-actions>
                <a mat-button href="javascript:void(0)" (click)="onClick('companies')">View all companies</a>
            </mat-card-actions>
        </mat-card>
    </div>
    <!-- <div class="col-4 px-0">
        <mat-card>
            <mat-card-title>View company</mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
            <mat-card-actions>
                <a mat-button routerLink="/companies/">View company</a>
            </mat-card-actions>
        </mat-card>
    </div> -->
</div>