form {
  min-width: 400px;
}
mat-form-field {
  width: 98%;
}
:host ::ng-deep .mat-form-field-wrapper {
  padding-bottom: 0em;
  .mat-form-field-subscript-wrapper {
    position: static;
    padding: 0 0.5em !important;
  }
}
.w-fit {
    width: fit-content;
}
